.filterButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButtons button {
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background: #03dac6;
  color: #121212;
  border: none;
}

.filterLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterLinks a {
  color: #e0e0e0;
  text-decoration: none;
  cursor: pointer;
}

.filterLinks a:hover {
  color: #ffffff;
}

.filterLinks .active {
  font-weight: bold;
  color: #eaeaea;
}
