.notificationList {
  font-family: 'Inter', sans-serif;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.error {
  color: #cf6679;
  background-color: #2e2e2e;
  padding: 10px;
  border: 1px solid #cf6679;
  border-radius: 4px;
  margin-bottom: 20px;
}
.repo {
  margin-bottom: 40px;
}

.repoName {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 1em;
  color: #e0e0e0;
  margin-bottom: 10px; /* Add margin for spacing */
  border-bottom: 1px solid #3e3e3e; /* Add line separator */
  padding-bottom: 5px; /* Add padding for spacing */
}

.doneButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #03dac6;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDoneButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #03dac6;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px 0 0;
}

.doneButton:hover {
  color: #018786;
}

.notificationItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificationItem {
  display: flex;
  /* justify-content: space-between; */
  flex: auto;
  align-items: center;
  padding: 2px 0 0 0;
  border-bottom: 1px solid #3e3e3e;
}

.notificationMain {
  flex: 5;
}

.notificationItem:last-child {
  border-bottom: none;
}

.notificationLink {
  text-decoration: none;
  transition: color 0.3s;
}

.notificationDetails {
  color: #999;
  font-size: 0.9em;
}

.done {
  opacity: 0.6;
  text-decoration: line-through;
}

.statusBox {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.filterButtons {
  display: flex;
  margin-bottom: 20px;
}

.filterButtons button {
  background: none;
  border: 1px solid #3e3e3e;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #e0e0e0;
}

#stateFilter {
  margin-left: 10px;
}

.typeIcon {
  margin-right: 10px;
  height: 16px;
}

.labels {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.label {
  /* background-color: #3e3e3e; */
  color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}